@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Mono:wght@400;500;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;

@layer base {
    html,
    body,
    #app,
    #app > div {
        height: 100%;
    }
}

@layer components {
    .home-page-text {
        @apply text-left;
        font-family: "Fira Code", monospace;
        font-weight: 400;
        font-optical-sizing: auto;
        font-size: 2.6669rem;
        color: #f0f0f0;
    }

    .main-content {
        @apply flex flex-col items-center justify-center space-y-14;
        text-align: center;
        position: absolute;
        top: 50%;
        bottom: 50%;
        width: 100%;
    }

    .nav-bar {
        @apply flex justify-between items-center pt-6 pr-6 pl-6;
    }

    .nav-bar-menu-buttons {
        @apply space-x-7 flex;
    }

    .nav-bar-menu-font {
        font-weight: 700;
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-size: 1.1rem;
        font-style: normal;
        letter-spacing: 0.07em;
        color: #f0f0f0;
    }

    .nav-bar-person-name-text {
        font-weight: 400;
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-size: 1.1rem;
        font-style: normal;
        color: #f0f0f0;
    }

    .blue-text {
        color: #518eff;
    }

    .photo-imjohn-group {
        @apply flex items-center justify-center space-x-14;
    }

    .im-john-box {
        @apply flex items-center justify-center border-4 border-[#f0f0f0] pr-6 pl-8;
        border-radius: 3rem;
    }

    .terminal-icon {
        @apply self-start mt-5 mr-6;
    }

    .john-photo {
        @apply content-center h-[7.5rem] w-[7.5rem] min-w-min min-h-min rounded-full border-4 border-[#f0f0f0];
        text-align: center;
        font-weight: 400;
        font-family: "Nunito", sans-serif;
        font-size: 0.8rem;
        color: #f0f0f0;
    }

    .job-title {
        @apply flex flex-row items-center pr-6 pl-8 border-4 border-[#f0f0f0];
        border-radius: 3rem;
    }

    .about-page-content {
        @apply flex flex-col space-y-[3.5rem] mx-[1rem] my-[3.5rem] md:space-y-[4.5rem] md:my-[4.5rem] md:mx-[1.75rem];
    }

    .about-page-title {
        @apply flex flex-row space-x-[1.06rem] items-center justify-center;
    }

    .about-page-title-text {
        @apply text-left;
        font-family: "Fira Mono", serif;
        font-weight: 700;
        font-optical-sizing: auto;
        font-size: 2rem;
        color: #f0f0f0;
    }

    .about-page-description-group {
        @apply max-w-[27.69rem] items-center justify-center;
    }

    .about-page-description_and_photo {
        @apply flex flex-col-reverse space-y-[2.31rem] space-y-reverse items-center justify-center md:flex-row md:space-x-[2.31rem] md:space-y-0;
    }

    .about-page-personal-info {
        @apply flex flex-wrap gap-[1.13rem] items-center justify-center;
    }

    .about-page-item {
        @apply flex flex-row items-center justify-center border-[0.19rem] border-[#1bbb1e] rounded-[0.94rem] space-x-[0.38rem] px-[1rem] py-[0.75rem];
    }

    .about-page-group-title-text {
        @apply text-center tracking-[0.08em];
        font-family: "Fira Mono", serif;
        font-weight: 500;
        font-optical-sizing: auto;
        font-size: 2rem;
        color: #f0f0f0;
    }

    .about-page-group {
        @apply flex flex-col justify-center space-y-[1.56rem];
    }

    .about-page-tech-stack-items {
        @apply flex flex-wrap gap-[1.13rem] items-center justify-center;
    }

    .main-text {
        @apply text-left max-w-[27.69rem];
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-optical-sizing: auto;
        font-size: 1rem;
        color: #f0f0f0;
    }

    .about-page-contact-description-text {
        @apply text-center;
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-optical-sizing: auto;
        font-size: 1rem;
        color: #f0f0f0;
    }
}
