@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;

@layer base {
	html, body, #app, #app>div {
		height: 100%;
	}
}

@layer components {
	.home-page-text {
		@apply text-left;
		font-family: "Fira Code", monospace;
		font-weight: 400;
		font-optical-sizing: auto;
		font-size: 2.6669rem;
		color: #f0f0f0;
	}

	.main-content {
		@apply flex items-center justify-center;
		text-align: center;
		position: absolute;
		top: 50%;
		bottom: 50%;
		width: 100%;
	}

	.nav-bar {
		@apply flex justify-between items-center pt-6 pr-6 pl-6;
	}

	.nav-bar-menu-buttons {
		@apply space-x-7 flex;
	}

	.nav-bar-menu-font {
		font-weight: 700;
		font-family: "Nunito", sans-serif;
		font-optical-sizing: auto;
		font-size: 1.1000rem;
		font-style: normal;
		letter-spacing: 0.07em;
		color: #f0f0f0;
	}

	.nav-bar-person-name-text {
		font-weight: 400;
		font-family: "Nunito", sans-serif;
		font-optical-sizing: auto;
		font-size: 1.1000rem;
		font-style: normal;
		color: #f0f0f0;
	}

	.blue-text {
		color: #518eff;
	}

	.im-john-box {
		@apply flex items-center justify-center outline-4 outline pr-6 pl-8;
		border-radius: 3rem;
		outline-color: #f0f0f0;
	}

	.terminal-icon {
		@apply self-start mt-6 mr-6;
	}
}